// Back Button
.back-link{
    
    &__button{
        position: absolute;
        z-index: 20;
        top: 14rem;
        left: 10%;
        width: 4rem;
        translate: all 0.3s ease-out;
       

        &:hover{
            transform: scale(1.1);
        }

        @media only screen and (max-width:78.75em){
            left: 3%;
        }

        @media only screen and (max-width:37.75em){
            width: 3rem;
        }

    }


}


// Backdrop image style
.backdrop {
    width: 100%;
    position: relative;
    
    // Add overlay
    &::after {
        display: block;
        position: absolute;
        background-color: rgba(17, 62, 79, 0.64);
        bottom:0;
        right: 0;
        height: 100%;
        width: 100%;
        content: '';
    }

    &__image {
        width: 100%;
        height: 60vh;
        object-fit: cover;
        object-position: 50% 50%;

        @media only screen and (max-width:37.5em){
            height: 40vh;
        }   
    }
}



// Overview part
.overview{
    padding-bottom: 10rem;
    background-color: $secondary-color;
    background-size: auto;
    color: white;
}

// Poster and info box
.poster-title-box{
    display: flex;
    margin-bottom: 2rem;
    @media only screen and (max-width:37.5em){
        align-content: center;
    }


    &__poster {
        width: 20rem;
        height: 30rem;
        border-radius: 4px;
        display: block;
        margin-top: -15rem;
        z-index: 10;
        box-shadow: 0 5px 10px 3px rgba(0,0,0,0.3);

        @media only screen and (max-width:37.5em){
            width: 15rem;
            height: 22.5rem;
            margin-top: -10rem;
            align-self: center;
        }

        @media only screen and (max-width:25em) {
            width: 12rem;
            height: 18rem;
            margin-top: -5rem;
        }
    }

    &__info{
        margin-top: 2rem;
        margin-left: 3rem;
        font-size: 1.6rem;

        @media only screen and (max-width:37.5em){
            font-size: 1.4rem;
            margin-left: 2rem;
            margin-top: 2rem;
        }

        &--title {
            font-size: 3rem;
            line-height: 1;

            @media only screen and (max-width:37.5em){
                font-size: 2rem;
            }

        }

        &--date {
            color: #999;
        }

        &--genres {

            @media only screen and (max-width:23.5em){
                //display: none;
            }
        }
    }   
    
    &__rate {
        margin-left: auto;
        font-size: 3rem;
        line-height: 1;
        font-weight: 800;
        padding: 3.2rem 2.8rem;
        align-self: center;
        border-radius: 50%;
        color: $secondary-color;
        background-color: $primary-color;

        @media only screen and (max-width:37.5em){
            display: none;
        }
    }
}

// Add style to overview text
.overview-text{
    margin-top: 4rem;
    width: 100%;
    margin-right: 3rem;
    h3 {
        font-size: 1.8rem;
        font-weight: 600;
    }
        
    p {
        font-size: 1.6rem;
    }
}

.videos-header {
    font-size: 1.8rem;
    margin-top: 4rem;
}

// Style videos
.movie-videos{
        overflow: hidden;
        
        &__item {
            padding-top: 3rem;
            width: 45%;
            float: left;
            margin-right: 5%;

            @media only screen and (max-width:46.875em) {
                width: 100%;
                margin-right: 0;
            }
           
            & .video-container {
                position: relative;
                padding-bottom: 56.25%;
                height: 0; 
                overflow: hidden;
                }
                
                .video-container iframe,
                .video-container object,
                .video-container embed {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                }

            &--name {
                
                font-size: 1.5rem;
                margin-top: .5rem;
                max-width: 40rem;
            }
        }


    }
