// Colors
$primary-color: #01d277;
$secondary-color: #081c24;
$color-grey-dark: #333;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px=62.5% --> 1rem = 10px;
}

body {
    font-family: "Open Sans", sans-serif;;
    color: $secondary-color;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    margin: 0 auto;

    @media only screen and (max-width: 66.25em) {
        margin: 0 3rem;
    }

    

}